dt {
    float: left;
    clear: left;
    width: 110px;
    font-weight: bold;
}

dd {
    margin: 0 0 0 120px;
}

.dell-card {
    background-color: #FAFAFA;
}

.dell-card-title {
    text-align: center;
    font-weight: bold;
}
