<h1>Computer System Collection ({{(computerSystemCollection | async)?.membersCount}})</h1>
<h1>Cooling Collection ({{(dcimCoolingCollection | async)?.membersCount}})</h1>
<h1>Power Collection ({{(dcimPowerCollection | async)?.membersCount}})</h1>
<h1>All Cooling Systems ({{(dcimCoolingSystems | async)?.length}})</h1>

<p>Chart Labels</p>
<ul>
    <li *ngFor="let key of pieChartLabels">
        {{ key }}
    </li>
</ul>

<!--p>Chart Labels</p>
<ul>
    <li *ngFor="#k of deviceTypeMap; #idx = $index">
        {{ k }} {{ idx}}
    </li>
</ul-->










<div class="row">
    <div class="com-xl-8 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <clr-datagrid>
            <clr-dg-column [clrDgField]="'realType'">Real Type</clr-dg-column>
            <clr-dg-row *clrDgItems="let dcs of (dcimCoolingSystems | async)" [clrDgItem]="dcs">
                <clr-dg-cell>{{ dcs.realType }}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>

<div style="display: block; width: 300px">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>