<p>Computer System Collection ({{(computerSystemCollection | async)?.membersCount}})</p>
<!--p>Cooling Collection ({{(dcimCoolingCollection | async)?.membersCount}})</p-->
<!--p>Power Collection ({{(dcimPowerCollection | async)?.membersCount}})</p-->
<p>All Cooling Systems ({{(dcimCoolingSystems | async)?.length}})</p>
<p>All Power Systems ({{(dcimPowerSystems | async)?.length}})</p>
<div class="row">
    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="display: block" style="width: 250px">
            <canvas baseChart
                 [data]="doughnutChartData"
                 [labels]="doughnutChartLabels"
                 [chartType]="doughnutChartType"
                 [options]="doughnutChartOptions"
                ></canvas>
        </div>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ul>
        <li *ngFor="let label of doughnutChartLabels; let i = index">
            Labels: {{i}} : {{label}}
        </li>
        </ul>

        <ul>
        <li *ngFor="let value of doughnutChartData; let i = index">
            Data: {{i}} : {{value}}
        </li>
        </ul>
    </div>
</div>

